a[href=""]:after {
    display: none;
}

a:link:after, a:visited:after {
    content: "";
}

th,
td,
hr,
thead,
tbody {
    border-color: #ccc !important;
    background: #fff !important;
}


.hidden-print {
    display: none;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
        display: table;
        content: " ";
    }

    .dl-horizontal dd:after {
        clear: both;
    }

    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
        display: table;
        content: " ";
    }

    .dl-horizontal dd:after {
        clear: both;
    }



.estimate-logo {
    margin: 20px;
    white-space: nowrap;
}

    .estimate-logo:hover {
        text-decoration: none;
    }

    .estimate-logo span {
        margin-left: 10px;
        color: #000;
        font-size: 30px;
        font-weight: 400;
        vertical-align: middle;
        letter-spacing: 1px;
    }