@using SynWebCRM.Web.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SynWeb CRM</h1>
    <p class="lead">Синвеб работает — вы отдыхаете.</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    <a href="/Stats/Index"><strong>Новый заказ!</strong></a><br />

    <a href="/Customers/Rating">Рейтинг клиентов</a><br />
    <a href="/Stats/Index">Статистика по доходам</a>
   
}else{
    <h3>Похоже, вам <a href="http://synweb.ru">сюда</a></h3>
}