@model IEnumerable<SynWebCRM.Data.Note>


@*@if (Model != null && Model.Any())
{*@
    <h3>Заметки</h3>
        <div class="notes">
            @foreach (var note in Model)
            {

                <div class="panel panel-success" id="note@(note.NoteId)">

                    <div class="panel-heading">
                        @if (User.IsInRole(SynWebCRM.Security.CRMRoles.Admin) || User.Identity.Name.Equals(note.Creator))
                        {
                            <div class="pull-right">
                                <a class="text-warning" onclick="deleteNote(@note.NoteId)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        }
                        <h3 class="panel-title">@note.CreationDate.ToString("yyyy-MM-dd HH:mm")</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Raw(note.Text.Replace(Environment.NewLine, "<br />"))
                    </div>
                </div>
            }
        </div>
@*}*@